body{
    font-size: 10px;
    padding: 0%;
    box-sizing: border-box;
}
.flexblox{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: red;
    width: auto;
    height: 600px;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 10%;
}
.btn{
    display: flex;
    width: 70px;
    height: 70px;
    border-radius: 100%;
}
.card-img{
    height: 50%;
}