body{
    color: hotpink;
    font-size: 10px;
    padding: 0%;
    box-sizing: border-box;
}
.blackbox{
    background-color: black;
    margin-left: 25%;
    margin-right: 25%;
}
#text{
    font-size: 4rem;
    padding-top: 2%;
    text-align: center;
}